CompileFlags:
  Add:
    - "-std=c++23"
    - "-Iinclude"
    - "-Ibuild/src"
    - "-isystem/usr/include/slint"
    - "-I./build/"
  Remove:
    - "-fmodules-ts"
    - "-fdeps-format=p1689r5"
    - "-fmodule-mapper=*"
    - "-std=c++11"
    - "-std=c++14"
    - "-std=c++17"
    - "-forward-unknown-to-host-compiler"
    - "--forward-unknown-to-host-compiler"
    - "--generate-code*"
    - "-gencode*"
    - "-Xcompiler*"