# Correlation C++20 Static Analysis Configuration
# SPDX-License-Identifier: AGPL-3.0-only
---
Checks: >
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  misc-*,
  modernize-*,
  performance-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
  -cppcoreguidelines-pro-bounds-avoid-unchecked-container-access,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -misc-include-cleaner,
  -readability-math-missing-parentheses

HeaderFilterRegex: '^(?!.*(build/_deps|build-fuzz/_deps|/usr/|/opt/)).*$'
WarningsAsErrors: 'bugprone-*,cert-*,performance-*'

CheckOptions:
  cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor: 'true'
  misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic: 'true'
  readability-function-cognitive-complexity.Threshold: '25'
  readability-identifier-length.IgnoredVariableNames: 'pi'
  readability-identifier-naming.ClassCase: 'CamelCase'
  readability-identifier-naming.StructCase: 'CamelCase'
  readability-identifier-naming.FunctionCase: 'camelBack'
  readability-identifier-naming.MethodCase: 'camelBack'
  readability-identifier-naming.VariableCase: 'lower_case'
  readability-identifier-naming.ParameterCase: 'lower_case'
  readability-identifier-naming.PrivateMemberSuffix: '_'
  readability-identifier-naming.ProtectedMemberSuffix: '_'
  readability-identifier-naming.ClassIgnoredRegexp: '.*_Test|.*_.*'
  readability-identifier-naming.FunctionIgnoredRegexp: 'LLVMFuzzer.*'
